<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.heckaitor.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.BezierActivity"/>
        <activity android:name=".views.interceptradio.InterceptRadioActivity"/>
        <activity android:name=".views.ImageScaleActivity"/>
        <activity android:name=".contents.asyncdialog.AsyncTaskActivity"/>
        <activity android:name=".contents.PermissionActivity"/>
        <activity android:name=".views.UiVisibilityActivity"/>
        <activity android:name=".views.InflateLayoutActivity"/>
        <activity android:name=".views.ViewLocationActivity"/>
        <activity
            android:name=".contents.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.ViewStubActivity"/>
        <activity android:name=".contents.popw.PopupWindowActivity"/>
    </application>

</manifest>